<div class="text-muted">
    <em>
        <p>James is a Canadian living on Canada's west coast. Interested in tech, code, startups, and being awesome. Leading tech efforts at <a href="https://www.chatterblock.com/">ChatterBlock</a>, <a href="https://www.onewed.com/">OneWed</a>, and <a href="https://www.seafoodx.io/">SeafoodX</a>. Top-notch Dad, subjectively speaking.</p>
        <p><a target="_blank" href="mailto:hi@jamesaddison.ca" title="Email James Addison">Ask advice, suggest a partnership, or just say hello</a>.</p>
    </em>
</div>
